.tag {
background-color: #3CBC8D;
border-radius: 0.25rem;
display: inline-block;
font-size: 13px;
font-weight: 400;
padding: 2px 8px;
margin: 2px 0px;
color: #FFF;
box-sizing: border-box;
text-align: center;
cursor: pointer;
}

.tag-list {
display: box;
width: 200px;
height: 300px;
text-align: left;
}


h1 {
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0px;
}

h3 {
    font-size: 1rem;
    margin-top: -30px;
    font-style: italic;

}



.subtitle {
    text-align: center;
    /* font-style: italic; */
}


.mapboxgl-canvas {
    border-radius: 0.25rem;
}

/* Border around metrics */
[data-testid="stHorizontalBlock"]{
    outline: 1px solid white;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 0.25rem;
    text-align: center;
}


[data-testid="stHorizontalBlock"] ~ [data-testid="stHorizontalBlock"]{
    outline: None;
    padding: 0px;
    margin-top: 20px;
    border-radius: None;
    text-align: left;
}


[data-testid="stMetricLabel"]{
    display: flex;
}

/* Remove gap between metric and unit */
[data-testid="stHorizontalBlock"] [data-testid="stVerticalBlock"]{
    gap: 0px;
}


div[data-testid="stMetricValue"] > div {
    font-weight: bold;
}